<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Camila Alfaro</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/14bc1c0560.js"
        integrity="sha384-r1gfjQAlvcCujywA5cSTGe95HO7mhi9jjJbiWRpM5lZHOPLcFRn3AKgcJSGkFAqb"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Portafolio Profesional: Camila María Alfaro Díaz</h1>
    <h3>Ingeniería de Negocios</h3>
    <p><i class="fa-solid fa-mobile-screen-button"></i> (503) 7123-4456</p>
    <p><i class="fa-solid fa-phone"></i> (503) 2254-6789</p>
    <p><i class="fa-brands fa-linkedin-in"></i> CamilaAlfaro07</p>
    <p><i class="fa-brands fa-github"></i> https://github.com/CamilaCF22 </p>
    <p><i class="fa-solid fa-envelope"></i> 20204002@esen.edu.sv</p>
    <table id="estilo1">
        <thead>
            <tr>
                <th>
                    <h2>PERFIL</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="/imagenes/imagenP.png" alt="" width="200"></td>
            </tr>
            <tr>
                <td>Estudiante disciplinada, perseverante y responsable. Además, caracterizada por influenciar de forma
                    positiva a través de la colaboración, el servicio y el liderazgo.</td>
            </tr>
        </tbody>
    </table>

    <table id="estilo2">
        <thead>
            <tr>
                <th>
                    <h2>EDUCACIÓN</h2>
                </th>
                <th>
                    <h2>VOLUNTARIADOS</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>(2020-Actual) Escuela Superior de Economía y Negocios</td>
                <td>(2017-Actual) Instructora en Alamar</td>
            </tr>
            <tr>
                <td>(2005-2019) Colegio Sagrado Corazón</td>
                <td>(2016) Instructora en curso de Dale Carnegie</td>
            </tr>
        </tbody>
    </table>

    <table id="estilo3">
        <thead>
            <tr>
                <th>
                    <h2>IDIOMAS</h2>
                </th>
                <th>
                    <h2>RECONOCIMIENTOS</h2>
                </th>
                <th>
                    <h2>REFERENCIA</h2>
                </th>
                <th>
                    <h2>INTERESES</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Español nativo</td>
                <td>Cuadro de honor de la ESEN 2020-2022</td>
                <td>Lic. Jessica Ponce</td>
                <td>Baile</td>
            </tr>
            <tr>
                <td>Inglés avanzado</td>
                <td>Cuadro de honor del Colegio Sagrado Corazón 2012-2019</td>
                <td>Catedrática de Metodologías de Diseño en ESEN</td>
                <td>Halterofilia</td>
            </tr>
            <tr>
                <td>Francés básico</td>
                <td>Mención honorífica en curso de Dale Carnegie</td>
                <td>(503) 7654-2345</td>
                <td>Oratoria</td>
            </tr>
        </tbody>
    </table>

</body>

</html>