<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Camila Alfaro</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/14bc1c0560.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1>Portafolio Profesional: Camila María Alfaro Díaz</h1>
    <p>Ingeniería de Negocios</p>
    <p><i class="fa-solid fa-mobile-screen-button"></i> (503) 7123-4456</p>
    <p><i class="fa-solid fa-phone"></i> (503) 2254-6789</p>
    <p><i class="fa-brands fa-linkedin-in"></i> CamilaAlfaro07</p>
    <p><i class="fa-solid fa-envelope"></i> 20204002@esen.edu.sv</p>
    <img src="imagenes/imagenP.png">
    <table>
        <thead>
            <tr>
                <th>IDIOMAS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Español nativo</td>
            </tr>
            <tr>
                <td>Inglés avanzado</td>
            </tr>
        </tbody>
    </table>


</body>

</html>